<html>
<head></head>
<body>

    Mail: @Html.TextBox("mail", null, htmlAttributes: new { type = "mail" })
    <br />
    <br />

    Stok: @Html.TextBox("stok", null, htmlAttributes: new { type = "number" })

    <hr />

    Bildiğiniz programlama dilleri? <br />
    @Html.CheckBox("dil") C#
    @Html.CheckBox("dil") Java
    @Html.CheckBox("dil") Phyton

    <hr />

    Cinsiyet <br />
    @Html.RadioButton("sefa", "Kadın") Kadın
    @Html.RadioButton("sefa", "Erkek") Erkek
    @Html.RadioButton("sefa", "Belirtmek İstemiyorum") Belirtmek İstemiyorum

    <hr />

    @{
        List<SelectListItem> cities = new List<SelectListItem>()
    {
            new SelectListItem(){Text="İstanbul", Value="34"},
            new SelectListItem(){Text="İzmir", Value="35"},
            new SelectListItem(){Text="Ankara", Value="06",Selected=true},
        };
    }
    @Html.DropDownList("sehir", cities, "Bir Şehir Seçin")

    <hr />

    @Html.ListBox("city", cities)




</body>
</html>